body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  margin: 10px;
  line-height: 1.5em;
}

h1 { font-size: 200%; }

h2 { font-size: 150%; }

h3 { font-size: 120%; }

p {
  font-size: 100%;
  line-height: 150%;
}
