.container {
  padding-top: 5px;
}

li {
  margin-bottom: 5px;
}

textarea {
  width: 80%;
}

body {
  font: 14px "Minion Pro", Georgia, sans-serif;
  line-height: 1.5em;
}

hr {
  color: #000;
  background: #000;
}

.masthead_nav {
  font-size: 130%;
}

.masthead_nav ul {
  /*border: 1px dashed #000;*/
  margin: 0 0 5px 0;
  padding: 0;
}

.masthead_nav li {
  display: inline;
  margin-right: 10px;
}

.source {
  border: 1px dashed #000;
  padding: 3px;
}

.footer_nav ul { text-align: center; }

.footer_nav li {
  list-style-type: none;
  display: inline;
  margin-right: 30px;
}

.main_content {
  font-size: 130%;
  height: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
